In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np
import sqlite3
from datetime import datetime

In [3]:
DB_PATH = "/content/drive/MyDrive/ML_Project/university.db"

np.random.seed()

def generate_students(num_students=30):

    attendance = np.random.normal(75, 15, num_students).clip(30,100)
    internal = np.random.normal(70, 12, num_students).clip(35,100)
    assignments = np.random.normal(80, 10, num_students).clip(40,100)
    study_hours = np.random.normal(15, 5, num_students).clip(2,40)
    gpa = np.random.normal(7, 1.5, num_students).clip(3,10)

    participation = np.random.choice(
        ["Low","Medium","High"], num_students
    )

    missed = np.random.poisson(2, num_students).clip(0,10)

    risk = []

    for i in range(num_students):
        score = (
            attendance[i]*0.25 +
            internal[i]*0.25 +
            assignments[i]*0.15 +
            study_hours[i]*0.10 +
            gpa[i]*5 -
            missed[i]*2
        )

        if score > 75:
            risk.append("Low")
        elif score > 55:
            risk.append("Medium")
        else:
            risk.append("High")

    df = pd.DataFrame({
        "attendance": attendance.round(2),
        "internal_score": internal.round(2),
        "assignment_completion": assignments.round(2),
        "study_hours": study_hours.round(1),
        "previous_gpa": gpa.round(2),
        "participation": participation,
        "missed_submissions": missed,
        "risk_level": risk,
        "created_at": datetime.now()
    })

    return df


def insert_into_db(df):
    conn = sqlite3.connect(DB_PATH)

    df.to_sql(
        "students",
        conn,
        if_exists="append",
        index=False
    )

    conn.close()


df = generate_students(50)
insert_into_db(df)

print("✅ New student records inserted!")

✅ New student records inserted!

In [4]:
conn = sqlite3.connect(DB_PATH)

pd.read_sql("SELECT * FROM students LIMIT 20", conn)

,attendance,internal_score,assignment_completion,study_hours,previous_gpa,participation,missed_submissions,risk_level,created_at
0,70.29,83.90,85.40,23.2,4.56,Low,2,Medium,2026-02-08 04:50:10.988246
1,95.55,64.30,83.64,9.2,5.45,High,2,Low,2026-02-08 04:50:10.988246
2,61.56,76.93,84.79,16.6,9.11,Low,3,Low,2026-02-08 04:50:10.988246
3,79.34,79.90,100.00,16.1,10.00,High,4,Low,2026-02-08 04:50:10.988246
4,94.10,63.90,82.62,14.8,5.90,Low,1,Low,2026-02-08 04:50:10.988246
5,60.68,90.86,99.89,14.7,6.73,Low,0,Low,2026-02-08 04:50:10.988246
6,83.83,64.05,72.03,15.9,6.25,High,0,Low,2026-02-08 04:50:10.988246
7,49.95,49.55,66.85,5.5,7.42,Medium,1,Medium,2026-02-08 04:50:10.988246
8,80.46,89.39,85.73,22.2,4.24,Low,2,Medium,2026-02-08 04:50:10.988246
9,91.31,69.31,80.34,18.2,8.04,High,1,Low,2026-02-08 04:50:10.988246
10,78.85,53.53,79.35,8.8,6.42,Medium,1,Low,2026-02-08 04:50:10.988246
11,54.17,62.43,84.36,12.4,9.33,Low,2,Low,2026-02-08 04:50:10.988246
12,68.56,52.88,67.72,15.0,8.17,High,4,Medium,2026-02-08 04:50:10.988246
13,71.64,95.39,86.47,22.1,8.50,Medium,2,Low,2026-02-08 04:50:10.988246
14,88.58,60.32,72.74,15.6,5.99,Low,1,Low,2026-02-08 04:50:10.988246
15,57.74,90.92,81.88,25.6,8.70,Low,1,Low,2026-02-08 04:50:10.988246
16,78.06,35.00,69.14,10.6,5.48,Medium,1,Medium,2026-02-08 04:50:10.988246
17,82.63,61.32,86.20,16.7,8.46,Medium,6,Low,2026-02-08 04:50:10.988246
18,85.52,56.53,81.55,19.2,7.29,Medium,0,Low,2026-02-08 04:50:10.988246
19,53.09,63.11,65.02,9.5,6.88,High,1,Medium,2026-02-08 04:50:10.988246